.navbar-header .nav-title:hover,
.navbar-header .nav-title:focus {
  background: #fff;
  color: #000;
  padding-top: auto;
  padding-bottom: auto;
  /*  background: rgba(256, 256, 256);
color: rgba(125, 86, 154, 1);*/
}


/*.cative{
  font-family:'Comfortaa', cursive;
}*/

.navbar-collapse .navbar-nav li a:hover,
.navbar-collapse .navbar-nav li a:focus {
  color: #000;
  background: #fff;
  /*  background: rgba(256, 256, 256);
color: rgba(125, 86, 154, 1);*/
}


/*font sizes:*/

.fs-28 { font-size: 28px !important; }
.fs-23 { font-size: 23px !important; }
.fs-18 { font-size: 18px !important; }
.fs-17 { font-size: 17px !important; }
.fs-16 { font-size: 16px !important; }
.fs-15 { font-size: 15px !important; }
.fs-14 { font-size: 14px !important; }
.fs-13 { font-size: 13px !important; }
.fs-12 { font-size: 12px !important; }
.fs-11 { font-size: 11px !important; }
.fs-10 { font-size: 10px !important; }
.fs-9 { font-size: 9px !important; }

.line-30 { line-height: 30px !important; }
.line-26 { line-height: 26px !important; }
.line-23 { line-height: 23px !important; }
.line-20 { line-height: 20px !important; }
.line-17 { line-height: 17px !important; }

.ls-3{ letter-spacing: 0.3 !important; }
.ls-4{ letter-spacing: 0.4 !important; }
.ls-7{ letter-spacing: 0.7 !important; }

.del{
  text-decoration:line-through;
}

/* 符合UI规范的类别 */
/*colors:*/
.main-color{ color:#a5323a; }
.white-color{ color: white; }
.grey99-color{ color:#999; }
.grey39-color{ color:#393939; }

/* el-button--text 不经过element-ui的disabled样式 */
.el-button.el-button--text:disabled {
  background-color: transparent;
  color: #C0C4CC;
}

.flex-justify_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
